

<!-- <div class="content-area">
    <div class="content-header">
      <h1>Welcome to the Admin Panel</h1>
    </div>
    <div class="content-body">
  // Your content will go here 
    </div> 
  </div>-->
<div class="dashboard-container">
  <div class="header">
    <h2>Welcome to the Admin Panel</h2>
    <!-- <button (click)="logout()" class="logout-btn">Logout</button> -->
  </div>
  
  <div class="cards-container">
    <div class="card">
      <h3>Total Users</h3>
      <p>{{ totalUsers }}</p>
    </div>
    <div class="card">
      <h3>Total Employers</h3>
      <p>{{ totalEmployers }}</p>
    </div>
    <div class="card">
      <h3>Total Jobs</h3>
      <p>{{ totalJobs }}</p>
    </div>
    <div class="card">
      <h3>Total Applications</h3>
      <p>{{ totalApplications }}</p>
    </div>
  </div>
</div>
