<div class="card-container">
  <h2>Create New Job</h2>
  <form (ngSubmit)="createJobs()">
    <div class="input-group">
      <label for="companyName" class="for">companyName</label>
      <input 
        id="companyName"
        type="text"
        [(ngModel)]="jobs.companyName"
        name="companyName"
        required>
    </div>
    <div class="input-group">
      <label for="jobTitle">Job Title</label>
      <input
        id="jobTitle"
        type="text"
        [(ngModel)]="jobs.jobTitle"
        name="jobTitle"
        required
      />
    </div>

    <div class="input-group">
      <label for="category">Category</label>
      <input
        id="category"
        type="text"
        [(ngModel)]="jobs.category"
        name="category"
        required
      />
    </div>

    <div class="input-group">
      <label for="experience">Experience</label>
      <input
        id="experience"
        type="text"
        [(ngModel)]="jobs.experience"
        name="experience"
        required
      />
    </div>

    <div class="input-group">
      <label for="pay_scale">Pay Scale</label>
      <input
        id="pay_scale"
        type="text"
        [(ngModel)]="jobs.pay_scale"
        name="pay_scale"
        required
      />
    </div>

    <div class="input-group">
      <label for="location">Location</label>
      <input
        id="location"
        type="text"
        [(ngModel)]="jobs.location"
        name="location"
        required
      />
    </div>

    <div class="input-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        [(ngModel)]="jobs.description"
        name="description"
        required
      ></textarea>
    </div>

    <div class="input-group">
      <label for="createDate">Create Date</label>
      <input
        id="createDate"
        type="date"
        [(ngModel)]="jobs.createDate"
        name="createDate"
        required
      />
    </div>

    <button class="submit-button" type="submit">➕ Post Job</button>
  </form>
</div>

<!--job list-->

<div class="job-cards">
  <div class="job-card" *ngFor="let jobs of job">
    <p><strong>Company Name:</strong> {{ jobs.companyName }}</p>
    <p><strong>jobTitle:</strong>{{ jobs.jobTitle }}</p>
    <p><strong>Category:</strong> {{ jobs.category }}</p>
    <p><strong>Experience:</strong> {{ jobs.experience }}</p>
    <p><strong>Pay:</strong> {{ jobs.pay_scale }}</p>
    <p><strong>Location:</strong> {{ jobs.location }}</p>
    <p><strong>Description:</strong> {{ jobs.description }}</p>
    <p><strong>Created:</strong> {{ jobs.createDate }}</p>

    <button
      type="button"
      (click)="editJob(jobs)"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      ✏️ Edit
    </button>
    <button class="delete" (click)="deleteJob(jobs.id!)">🗑️ Delete</button>
  </div>
</div>

<!--edit form-->
<!--modal-->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Job</h1> -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedJob" class="p-4 bg-gray-100 border rounded mt-4">
          <h3 class="text-xl font-semibold mb-2">Edit Job</h3>
          <form (ngSubmit)="updateJob()" class="space-y-2">
            <input
              [(ngModel)]="selectedJob.jobTitle"
              name="editTitle"
              class="border p-2 w-full"
              placeholder="Job Title"
            />
            <input
              [(ngModel)]="selectedJob.category"
              name="editCategory"
              class="border p-2 w-full"
              placeholder="Category"
            />
            <input
              [(ngModel)]="selectedJob.experience"
              name="editExperience"
              class="border p-2 w-full"
              placeholder="Experience"
            />
            <input
              [(ngModel)]="selectedJob.pay_scale"
              name="editPay"
              class="border p-2 w-full"
              placeholder="Pay Scale"
            />
            <input
              [(ngModel)]="selectedJob.location"
              name="editLocation"
              class="border p-2 w-full"
              placeholder="Location"
            />
            <textarea
              [(ngModel)]="selectedJob.description"
              name="editDesc"
              class="border p-2 w-full"
              placeholder="Description"
            ></textarea>
            <input
              type="date"
              [(ngModel)]="selectedJob.createDate"
              name="editDate"
              class="border p-2 w-full"
            />

            <div class="flex gap-2 mt-2">
              <button
                style="background-color: green; border: none"
                class="bg-blue-600 text-white px-4 py-1 rounded"
                type="submit"
              >
                Update
              </button>
              <button
                style="background-color: red; border: none; margin-left: 7px"
                class="bg-gray-500 text-white px-4 py-1 rounded"
                type="button"
                (click)="selectedJob = null"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

