<table>
  <caption>Jobs Table Structure</caption>
  <thead>
    <tr>
      <th>Column Name</th>
      <th>Data Type</th>
      <th>Constraints</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td>int</td>
      <td>Primary Key, Auto Increment</td>
      <td>Unique job identifier</td>
    </tr>
    <tr>
      <td>title</td>
      <td>varchar</td>
      <td>Not null</td>
      <td>Title of the job</td>
    </tr>
    <tr>
      <td>description</td>
      <td>text</td>
      <td></td>
      <td>Detailed job description</td>
    </tr>
    <tr>
      <td>location</td>
      <td>varchar</td>
      <td></td>
      <td>Job location</td>
    </tr>
    <tr>
      <td>salary</td>
      <td>int</td>
      <td></td>
      <td>Salary offered</td>
    </tr>
    <tr>
      <td>company_id</td>
      <td>int</td>
      <td>Foreign Key → companies.id</td>
      <td>Related company ID</td>
    </tr>
    <tr>
      <td>posted_at</td>
      <td>timestamp</td>
      <td></td>
      <td>When the job was posted</td>
    </tr>
    <tr>
      <td>is_remote</td>
      <td>boolean</td>
      <td></td>
      <td>Remote option (true/false)</td>
    </tr>
  </tbody>
</table>
