<div class="company-list">
  <div *ngFor="let company of companies" class="company-card">
    <div class="company-header">
      <img [src]="company.imageUrl" [alt]="company.name" class="company-logo">
      <h3>{{ company.name }}</h3>
    </div>
    <p class="company-description">{{ company.description }}</p>
    
    <div class="company-actions">
      <a [href]="company.website" target="_blank" class="btn btn-outline-primary">
        Visit Website
      </a>
      <a 
        [href]="company.applyUrl" 
        [target]="company.isExternal ? '_blank' : '_self'"
        class="btn btn-apply"
      >
        Apply Online
      </a>
    </div>
  </div>
</div>